/* body{
    background-color: red ;

} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-image: url('../img/jumbo.png');
    background-size: cover;
    padding: 15px 100px 150px 100px;


}

.riga1, .riga2, .riga3, .riga4, .Ftop {
    display: flex;

}


.debug .riga1 {
    height: 500px;
    padding: 50px;
    justify-content: center;
}

.debug .col-big1 {
    background-image: url('../img/item1.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 715px;
}

.debug .col-small1 {
    width: 500px;
    padding: 0% 8%;
}

.debug .riga2 {
    height: 500px;
    padding: 50px;
    justify-content: center;
    background-color: lightgrey;
}

.debug .col-big2 {
    background-image: url('../img/item2.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 715px;
}

.debug .col-small2 {
    width: 500px;
    padding: 0% 8%;
}


.debug .riga3 {
    height: 500px;
    padding: 50px;
    justify-content: center;
}

.debug .col-big3 {
    background-image: url('../img/item3.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 715px;
}

.debug .col-small3 {
    width: 500px;
    padding: 0% 8%;
}

.debug .riga4 {
    height: 900px;
    padding: 50px;
    background-color: lightgrey;
}

.debug .col-unica {
    background-color: lightgrey;
    width: 1200px; 
    padding-left: 25%;
    text-align: center;   
}

.debug .Ftop {
    justify-content: center;
    height: 580px;
    padding-top: 10px;
    padding-bottom: 30px;
    border-bottom: 1px solid white;
    background-color: #23272a;
}

.debug .col-sr {
    background-color: #f08080;
    width: 30%;
    border-style: dashed;
    border: 10px solid black dotted;

}

.debug .col-jr {
    background-color: #20b2aa;
    width: 15%;
    border-style: dashed;
    border: 10px solid black dotted;

}

.Htop {
    display: flex;
    padding-bottom: 50px;
    justify-content: center;
    text-align: center;
}


.logo1 {
    width: 25%;
    text-align: center;
    background-image: url(../img/logo.svg);
    background-repeat: no-repeat;
}

.link {

    color: white;
    text-align: center;
    padding: 10px;

}

.login {
    margin-left: 330px;
    color: black;
    text-align: right;
    padding: 10px;
    border-radius: 25px;
    background-color: white;
    justify-content: center;
}


.Hbottom {
    display: flex;
    padding: 25px;
    justify-content: center;
}


.container {
    width: 50%;
    height: 250px;

}

h1 {
    text-align: center;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-bottom: 40px;
    font-size: 50px;
}

p {
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 30px;
}


.minibox {
    gap: 20px;
    padding-left: 25%;
    padding-top: 10px;
    align-items: center;
    display: inline-flex;
}

.lonebox{
    padding-top: 10px;
    align-items: center;
    display: inline-flex;
    
}

.botton1,.botton3::before {
    content: '\1F87B';
}

.botton1{
    display: inline-block;
    background-color: white;
    border-radius: 25px;
    padding: 8px;
    color: black;
}

.botton2 {
    display: inline-block;
    background-color: black;
    border-radius: 25px;
    padding: 10px;
    color: white;
}
.botton3{
    display: inline-block;
    background-color:  rgba(0, 76, 255, 0.847);
    border-radius: 25px;
    padding: 8px;
    color: white;
}

.titolo{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
    padding-bottom: 25px;
}

.testo{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-top: 20px;
    align-items: center;
}

.ready{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    font-weight: 650;
padding: 15px;

}
/* footer*/
.Fbottom {
    display: flex;
    background-color: #23272a;
    padding: 15px;
    justify-content: center;
}

.xy {
    background-color: #7fffd4;
    width: 800px;
    display: flex;
    justify-content: space-between;

}

.logo2 {
    border-style: dashed;
    border: 10px solid black dotted;
    background-color: white;
    text-align: left;
    padding: 5px;

}